html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    min-height: 100%;
    position: relative;
    width: 750px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
}

.footer {
    clear: both;
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    border-bottom: 1px solid #178acc;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 10px 10px 80px;
    background-color: antiquewhite;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.headerNav li {
    padding: 10px;
    display: block;
    width: 160px;
    text-align: center;
}

.headerNav a, .headerNav a:visited, .headerNav a:hover, .headerNav a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    text-align: center;
    color: #81b3d2;
    font-size: 24px;
}

.headerNav a:hover {
    color: yellow;
}

.headerNav a.before:before, .headerNav a.after:after {
    content: "";
    transition: 0.5s all ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

.headerNav a.before:before {
    top: -0.25em;
}

.headerNav a.after:after {
    bottom: -0.25em;
}

.headerNav a.before:before, .headerNav a.after:after {
    height: 5px;
    height: 0.35rem;
    width: 0;
    background: yellow;
}

.headerNav a.sixth:before, .headerNav a.sixth:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.headerNav a.before:hover:before, .headerNav a.after:hover:after {
    width: 100%;
}

.footerNav a:link, .footerNav a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;

    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    border-bottom: 1px solid #178acc;
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.footerNav a:hover, .footerNav a:active {
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
    filter: none;
    border-bottom: 1px solid #022241;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

#introduction p {
    text-align: center;
}

#mentorRegistration label {
    display: inline-block;
    width: 300px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}