
h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading {
    font-weight: bold;
    color: black;
}

.profileTable, .allProfilesTable {
    border-collapse: collapse;
}

.profileTable th, td, .allProfilesTable th, td {
    padding: 10px;
    border: 1px solid gray;
}