/* dCodes Framework:(c) TemplateAccess */
a.dc_view {
    border-bottom: 1px dotted #999;
    cursor: pointer;
    font-family: Georgia, serif;
    font-style: italic;
    padding: 0 3px;
    text-decoration: none
}

a.dc_view:hover {
    background: #009fd8;
    color: #fff;
    padding: 3px
}